.left {
  float: left;
}

.left img {
  padding: 14px;
}
.left h2 {
  padding-top: 8px;
  color: #3e4498;
}

.right {
  float: right;
}

.navigator {
  margin-top: 24px;
  margin-right: 24px;
}

.navigation-link {
  text-decoration: none;
  font-size: 16px;
  color: #3e4498;
}

.container {
  width: 96%;
  padding: 12px;
  text-align: center;
}

.input-form {
  width: 50%;
  margin: 24px auto;
}
